In [1]:
import yfinance as yf
import pandas as pd

In [3]:
tweets = pd.read_csv("stock_tweets_out.csv")
tweets.head()

,Date,Tweet,Stock Name,Company Name,negative,neutral,positive
0,2022-09-29 23:41:16+00:00,Mainstream media has done an amazing job at br...,TSLA,"Tesla, Inc.",0.5414,0.3446,0.1140
1,2022-09-29 23:24:43+00:00,Tesla delivery estimates are at around 364k fr...,TSLA,"Tesla, Inc.",0.0129,0.7191,0.2679
2,2022-09-29 23:18:08+00:00,3/ Even if I include 63.0M unvested RSUs as of...,TSLA,"Tesla, Inc.",0.0989,0.8382,0.0629
3,2022-09-29 22:40:07+00:00,@RealDanODowd @WholeMarsBlog @Tesla Hahaha why...,TSLA,"Tesla, Inc.",0.9325,0.0594,0.0081
4,2022-09-29 22:27:05+00:00,"@RealDanODowd @Tesla Stop trying to kill kids,...",TSLA,"Tesla, Inc.",0.9689,0.0280,0.0031

In [5]:
tickers = tweets.loc[:, 'Stock Name'].unique()
tickers

array(['TSLA', 'MSFT', 'PG', 'META', 'AMZN', 'GOOG', 'AMD', 'AAPL',
       'NFLX', 'TSM', 'KO', 'F', 'COST', 'DIS', 'VZ', 'CRM', 'INTC', 'BA',
       'BX', 'NOC', 'PYPL', 'ENPH', 'NIO', 'ZS', 'XPEV'], dtype=object)

In [ ]:
start_date = "2021-09-30"
end_date = "2022-09-30"

stock_data = {}

for ticker in tickers:
    df = yf.download(
        tickers=ticker,
        start=start_date,
        end=end_date,
        interval="1d",
        progress=False
    )
    stock_data[ticker] = df

In [ ]:
spy_data = yf.download(
    tickers='SPY',
    start=start_date,
    end=end_date,
    interval="1d",
)

[*********************100%***********************]  1 of 1 completed

In [19]:
import os
os.makedirs("stock-data", exist_ok=True)

for ticker, df in stock_data.items():
    df.to_csv(f"stock-data/{ticker}.csv")
spy_data.to_csv("stock-data/SPY.csv")